html {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;      
}

body {
    width: 600px;
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url(./../media/background.jpeg);   
    background-size: cover;
}

.container {
    background-color: rgba(206, 86, 51, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    color:#f3f2ee; 
    font-weight: bold;

}
.title{
    color: #fccd4b;
}

.container .image {
    width: 20rem;
    height: 20rem;
    border-radius: 10px;
    border: 10px double rgba(249, 185, 54, 1);
}

#pregunta-container {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.options{   
    display: flex;
    justify-content: center;
    gap: 30px;    
  
    
}
button{
    display: block;
    width: 150px;
    padding: 10px;
    margin: 5px;
    border: none; 
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(249, 185, 54, 1); 
    color: #35627c; 
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(157, 58, 58, 0.889);
}




#mensaje {
    margin-top: 15px;
    font-weight: bold;
}

#reiniciar {
    margin-top: 20px;
}
