html {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;      
}

body {
    width: 750px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-image: url(./../media/background.jpeg);   
    background-size: cover;
    height: 100%;   
    display: flex;
    flex-direction: column;   
    justify-content: space-around;       
   
}

.container {
    background-color: rgba(206, 86, 51, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #592c25;
    text-align: center;
    color:#f3f2ee; 
    font-weight: bold;
    display: flex;
    flex-direction: column;   
    align-items: center;
    justify-content: flex-end;   
    @media (min-width: 600px) {
      
    }
}    

.title{
    color: #fccd4b;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    margin: 15px auto;
}

.container .image {
    width: 20rem;
    height: 20rem;
    border-radius: 10px;
    border: 10px double rgba(249, 185, 54, 1);
}

#pregunta-container {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

button{
    display: block;
    width: 150px;
    padding: 10px;
    margin: 5px;
    border: none; 
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(249, 185, 54, 1); 
    color: #441f17; 
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(157, 58, 58, 0.889);
}

#message {
    display: none;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 5px #f1cf7b; 
    animation: flash 5s infinite;
}

@keyframes flash {
    0% {
        color: #f3f2ee;
    }
    50% {
        color: #f1cf7b;
    }
    100% {
        color: #f3f2ee;
    }
}

#reiniciar {
    margin-top: 20px;  
}

footer a {
    color: #441f17;
    font-weight: 550;
    text-decoration: none;
}

footer a span {
    text-decoration: none;
}
